@media (max-width: 768px) {
    body {
        margin: 0;
        background-color: #ffffff;
    }

    :root {
        --cor-destaque: #FFF0F5;
    }

    #nome {
        font-family: 'Dancing Script', cursive;
        font-size: 17px;
    }

    #header{
        font-family: 'Fjalla One', sans-serif;
        font-size: 20px;
        background-image: linear-gradient(to right,blueviolet, #914172 );
        padding: 23px 10px 30px 15px;
        height: 80px;
        width: 100%;
    }
    #marca {
        background-color: rgb(65, 25, 102);
        padding: 2px;
        height: 1%;
        width: 100%;
    } 

    #marca * {
        vertical-align: middle;
        background-color: ;

    }


    #marca img {
        width: 35px;
        margin-right: 10px;
    }

    #marca span {
        font-family: "negrito";
        font-size: 1%;
        color: var(--cor-destaque);
    }
    
    #boasvindas {
        font-family: 'Dancing Script', cursive;
        font-size: 100%;
        display: block;
    }

    #slogan {
        font-family: 'Fjalla One', sans-serif;
        font-size: 60%;
    }

    /*CONTAINER*/

    #container {
        padding: 10px;
        margin-top: 20px;
    }

    /*seção da esquerda*/

    #esquerda {
        width: 100%;
        height: 0%;
        padding: 1%;
        
    }

    #lancamentos {
        font-family: 'Dancing Script', cursive; 
        font-size: 150%;
    }

    #novoLancamento {
        border: none;
        background-color: blueviolet;
        color: rgb(0, 0, 0);
        font-size: 60%;
        padding: 6%;
        border-radius: 10px;
        margin-left: 50px;
    }

    #areaLancamentos {
        margin-top: 10px;
    }

    .blocoLancamento {
        background-color: aliceblue;
        padding: 10%;
        margin-top: 20%;
        border-radius: 20px;
        margin-bottom: 1%;
    }

    .blocoLancamento img {
        width: 10%;
    }

    .descricaoLancamentos {
        margin-top: -20px;
        height: 50px !important;
        width: 30% !important;
        float:right;
        font-size: 65%;

    }

    .descricaoLancamentos span {
        display:block;
        font-family: 'Fjalla One', sans-serif;
        width: 10%;
        height: 10px;

    }

    .valor {
        position: block;
        font-family: 'Fjalla One', sans-serif !important;
        font-size: 100%;
        padding: 5px;
        height: 10% !important;
        width: 90% !important; 
    }

    .gasto {
        color: red;
        
    }


}
